* {
    font-family: Arial;
    font-weight: bold;
}

html {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: inline-block;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.headerBox a {
    text-decoration: none;
    color: darkslategrey;
}

.navUl {
    height: 64px;
    width: 100%;
    display: inline-flex;
    margin: 0px 0px 0px 0px;
    padding-left: 24px;
}

.headerBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer {
    display: flex;
    width: 100%;

}

#headerLeft {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#headerRight {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 48px;
    gap: 16px;
}

#colmarIcon {
    height: 40px;
}

#colmarHeader {
    color: darkolivegreen;
    font-size: 32px;
}

#academyHeader {
    color: grey;
    font-size: 32px;
}

#learnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#bannerImg {
    display: flex;
    padding: 32px 24px;
    width: 60%;
}

#learnTextBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 5px;
}

#learnSomething {
    font-weight: bolder;
    font-size: 32px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 16px;
}

#learnLorem {
    font-weight: bold;
    font-size: 24px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 32px;
}

#learnStartBox {
    display: flex;
    width: 70%;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
}

#learnStart {
 color: white;
 padding-top:12px;
 padding-bottom: 12px;
 text-decoration: none;
 font-size: large;
 font-weight: normal;
}