/* General CSS */

* {
    font-family: Arial;
    font-weight: bold;
}

html {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

header {
    width: 100%;
    display: inline-block;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
}

/* General class CSS */

.boxContainer {
    display: flex;
    width: 100%;
}

.grey-background {
    background-color: lightgrey;
}

.titleText {
    font-weight: bolder;
    font-size: 48px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navUl {
    height: 64px;
    width: 100%;
    display: inline-flex;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.navBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

.navBox a {
    text-decoration: none;
    color: darkslategrey;
}

.grey-text{
    color: grey;
}

.grey a {
    color: grey;
}

/* General ID CSS */

#navLeft {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

#navRight {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 16px;
    width: 100%;
}

/* Header CSS */

#mobileNav {
    display: none;
}

#headerIcon {
    height: 40px;
}

#colmarHeader {
    color: darkolivegreen;
    font-size: 32px;
}

#academyHeader {
    color: grey;
    font-size: 32px;
}

/* Learn Something (Section 1) CSS */

#learnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#bannerImg {
    display: flex;
    padding: 32px 24px;
    width: 60%;
}

#learnTextBoxContainer{
    width: 40%;
    display: flex;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

#learnTextBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#learnLorem {
    font-weight: bold;
    font-size: 32px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 32px;
}

#learnStartBox {
    display: flex;
    width: 50%;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
}

#learnStart {
    color: white;
    padding-top:12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: large;
    font-weight: normal;
}

/* Practice Section CSS */

.practiceMiniBox {
    display: flex;
    flex-direction: row;
    border: 1px lightgrey solid;
}

#practiceContainer {
    display: inline-flex;
    width: 100%;
}

#practiceTextContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#practiceContainerTitle {
    display: flex;
    font-size: 32px;
    color: darkslategrey;
    font-weight: bolder;
}

#practiceContainerText {
    font-size: 16px;
    font-weight: normal;
    color: grey;
}

#practiceContainerPerson{
    font-size: 18;
    color: darkslategrey;
    font-weight: normal;
}

#practiceImgBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding: 32px 24px;
}

#practiceImg {
    display: flex;
    width: 100%;
    height: 100%;
}

#practiceReadMore {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 16px;
    padding-bottom: 32px;
    border: 1px lightgrey solid;
}

#practiceMiniImg {
    display: flex;
    padding: 16px 16px;
    height: auto;
    width: 35%;
}

#mobilePracticeImg {
    display: none;
}

#practiceMiniText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#practiceMiniTitle {
    font-size: 32px;
    padding-bottom: 4px;
    color: darkslategrey;
    margin: 0px;
}

#practiceMiniSubtext {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: normal;
    color: darkslategray;
    margin: 0px;
}

#practiceMiniText a {
    text-decoration: none;
    color: lightskyblue;
    padding-top: 4px;
}

/* Start Learning Section CSS */

.startLearningMiniBox {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.sLMiniTextContainer {
    display: flex;
    width: 100%;
    background-color: white;
}

.sLMiniText {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 16px 16px;
    width: 100%;
    height: 200px;
}

#startLearningContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

#startLearningTitle {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#startLearningGallery {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 32px;
}

#sLTitle {
    font-size: 32px;
}

#sLMiniImg {
    width: 100%;
    height: auto;
}

#sLMiniSubtext {
    color: grey;
    font-weight: normal;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#mobileStartLearningContainer {
    display: none;
}

/* Thesis Exibit CSS */

#thesisContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#thesisContentContainer {
    display: inline-flex;
    width: 100%;
}

#thesisVideo {
    display: flex;
    width: 100%;
    height: auto;
}

#thesisVideoBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 16px 24px 32px 24px;
}

#thesisVideoText {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#thesisContainerText {
    font-size: 16px;
    font-weight: normal;
    color: grey;
}

#fismaBox {
    background-color: lightgrey;
}

/* Footer CSS */

footer {
    display: inline-block;
    width: 100%;
    border-top: 2px solid grey;
}

/* Mobile CSS */

@media only screen and (max-width: 600px) {
    #navRight {
        display: none;
    }

    #navLeft {
        display: none;
    }

    #mobileNav {
        display: inline-flex;
        justify-content: space-around;
    }
    
    #learnContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
        justify-content: center;
        align-items: center;
    }

    #bannerImg {
        display: flex;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    
    #learnTextBox {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #learnStartBox {
        display: flex;
        width: 80%;
        background-color: grey;
        align-items: center;
        justify-content: center;
    }

    #learnTextBoxContainer {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    #practiceImgBox {
        display: none;
    }

    #practiceReadMore {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px 16px 32px 16px;
        border: none;
    }

    #mobilePracticeImg {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #practiceMiniImg {
        display: none;
    }

    .practiceMiniBox {
        flex-direction: column;
        border: none;
    }

    #practiceMiniText {
        padding: 64px 16px 64px 16px;
    }

    .practiceMiniBox.grey-background {
        background-color: white;
    }

    #startLearningContainer {
        display: none;
    }

    #mSLContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mSLGallery {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 16px 32px 16px;
    }

    .mSLCourse {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: green;
    }

  }