/* General CSS */

* {
    font-family: Arial;
    font-weight: bold;
}

html {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: inline-block;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
}

/* Header CSS */

.headerBox a {
    text-decoration: none;
    color: darkslategrey;
}

.navUl {
    height: 64px;
    width: 100%;
    display: inline-flex;
    margin: 0px 0px 0px 0px;
    padding-left: 24px;
}

.headerBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer {
    display: flex;
    width: 100%;

}

#headerLeft {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#headerRight {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 48px;
    gap: 16px;
}

#colmarIcon {
    height: 40px;
}

#colmarHeader {
    color: darkolivegreen;
    font-size: 32px;
}

#academyHeader {
    color: grey;
    font-size: 32px;
}

/* Learn Something (Section 1) CSS */

#learnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#bannerImg {
    display: flex;
    padding: 32px 24px;
    width: 60%;
}

#learnTextBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 5px;
}

#learnSomething {
    font-weight: bolder;
    font-size: 32px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 16px;
}

#learnLorem {
    font-weight: bold;
    font-size: 24px;
    color: darkslategray;
    margin-top: 16px;
    margin-bottom: 32px;
}

#learnStartBox {
    display: flex;
    width: 70%;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
}

#learnStart {
    color: white;
    padding-top:12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: large;
    font-weight: normal;
}

/* Practice Section CSS */

.practiceMiniBox {
    display: flex;
    flex-direction: row;
}

#practiceContainer {
    display: inline-flex;
    width: 100%;
}

#practiceMainBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding: 32px 24px;
}

#practiceMainTitle{
    padding-top: 32px;
    padding-bottom: 24px;
    font-weight: bolder;
    color: darkslategray;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#practiceLorem {
    font-weight: normal;
    color: darkgray;
    margin-top: 0px;
    margin-bottom: 0px;
}

#practicePerson {
    color: darkslategrey;
    font-weight: normal;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
}

#practiceImg {
    display: flex;
    width: 100%;
    height: 100%;
}

#practiceReadMore {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 16px;
    padding-bottom: 32px;
    justify-content: center;
}

#practiceMiniImg {
    display: flex;
    padding: 16px 16px;
    height: auto;
    width: 35%;
}

#practiceMiniText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#practiceMiniTitle {
    padding-bottom: 4px;
    color: darkslategrey;
    margin: 0px;
}

#practiceSubtext {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: normal;
    color: darkslategray;
    margin: 0px;
}

#practiceMiniText a {
    text-decoration: none;
    color: lightskyblue;
    padding-top: 4px;
}

#practiceGuestLecture {
    background-color: lightgrey;
}

/* Start Learning CSS */